{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="col-lg-12">
        <h2>Papers</h2>
        {% if paper_list %}
            <ul>
            {% for paper in paper_list %}
                <li><a href="{% url 'paper_management:paper_detail' paper.id %}">{{ paper }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No papers are available.</p>
        {% endif %}
        {% url "paper_management:paper_add" as add_url %}
        <br>
        {% bootstrap_button content="Add paper" href=add_url %}
    </div>
{% endblock %}
