<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Munkey{% endblock %}</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    {% bootstrap_javascript jquery="full" %}

    {% include "navigation/navigation.html" %}

    {% bootstrap_messages %}
    <div class="container mt-1">
        <div class="row">
            <div class="col-lg-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>